<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Car Maintenance Intervals - 2004 Green Honda Accord</title>
		<link rel="stylesheet" href="styles.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Car Maintenance Intervals</h1>
			<h2>2004 Green Honda Accord</h2>
		</header>
		<section class="intervals flex-container">
			<% for(var i=0; i<intervals.length; i++) { %>
			<article class="interval flex-item">
				<ul>
					<li>
						<span class="name bold">Service: </span>
						<span class="value svc-value bold"><%= intervals[i].service %></span>
					</li>
					<li>
						<span class="name">Interval (miles): </span>
						<span class="value miles-value"><%= intervals[i].intervalMiles %></span>
					</li>
					<li>
						<span class="name">Interval (months): </span>
						<span class="value months-value"><%= intervals[i].intervalMonths %></span>
					</li>
					<li>
						<span class="name">Whichever Comes: </span>
						<span class="value first-last-value"><%= intervals[i].firstOrLast %></span>
					</li>
				</ul>
				<button class="delete">Delete</button>
			</article>
			<% } %>
			<article id="new-input" class="flex-item">
				<form action="/intervals" method="POST">
					<ul>
						<li>
							<span class="name bold">Service: </span>
							<br>
							<input name="service" placeholder="Change Oil" type="text"></input>
						</li>
						<li>
							<span class="name">Interval (miles): </span>
							<br>
							<input name="intervalMiles" placeholder="5000" type="number"></input>
						</li>
						<li>
							<span class="name">Interval (months): </span>
							<br>
							<input name="intervalMonths" placeholder="12" type="number"></input>
						</li>
						<li>
							<span class="name">Whichever Comes: </span>
							<br>
							<select name="firstOrLast">
								<option>First</option>
								<option>Last</option>
							</select>
						</li>
					</ul>
					<button type="submit">Save New</button>
				</form>
			</article>
		</section>
			
		<section id="scripts">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script src="main.js"></script>
		</section>
	</body>
</html>